
     .container {
        background-color: rgb(158, 41, 58);
        height: 1000px;
        width:2000px;
        display: grid;
        /* flex-direction: row;
        justify-content: space-between; */
        grid-template-rows:  100px  100px 100px 100px  100px 100px;
       grid-template-columns: 200px 200px 200px 200px  200px ;
     }
     .item{
        background-color: rgb(186, 80, 198);
        height: 100px;
        width: 100px;
        border: 2px solid black;
        text-align: center;
        
     }
